export PORT=4000
export DB_URL="postgresql://postgres:readyset@127.0.0.1:5433/auctioneer?sslmode=disable"
export DB_MIGRATION_URL="postgresql://postgres:readyset@127.0.0.1:5432/auctioneer?sslmode=disable"
