export PORT=3000
export RT_SERVER_PORT=5001
export API_SERVER_PORT=5000
export DB_URL=postgresql://postgres:postgres@127.0.0.1:5433/goauctioneer?sslmode=disable
export DB_MIGRATION_URL=postgresql://postgres:postgres@127.0.0.1:5432/goauctioneer?sslmode=disable
export HASH_SECRET=a_b7W?D5Uq@VJAnT_b7W^D5Uq\'VJAnTzGB
export ENCRYPTION_KEY=a_b7W?D5Uq@VJAnT_b7WD5UqVJAnTzGB
export DB_DSN=user=postgres password=postgres dbname=goauctioneer sslmode=disable host=localhost port=5433
export NEXT_PUBLIC_BASE_URL=http://localhost:5000/api/