export PORT=4000
export DB_URL="postgresql://postgres:readyset@127.0.0.1:5433/auctioneer?sslmode=disable"
export DB_MIGRATION_URL="postgresql://postgres:readyset@127.0.0.1:5432/auctioneer?sslmode=disable"
export HASH_SECRET="a_b7W?D5Uq@VJAnT_b7W^D5Uq#VJAnTz"
