@tailwind base;
@tailwind components;
@tailwind utilities;

.btn:active {
  animation: button-pop 0.5s ease-out;
}

@keyframes button-pop {
  0% {
    transform: scale(0.9);
  }
  40% {
    transform: scale(1.02);
  }
  to {
    transform: scale(1);
  }
}
